extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/mainLobby") To Main
    .navlink
      a(href="/mainData") To Data
  section#makeList
    form#ListForm(class="ListForm", name="ListForm", action="/mainData", method="POST")
      label(for="name") Name: 
      input#ListName(type="text", name="name", placeholder="Your Name")
      label(for="itemOne") Item 1: 
      input#ListItemOne(type="text", name="itemOne", placeholder="Enter Item Here")
      label(for="itemTwo") Item 2:
      input#ListItemTwo(type="text", name="itemTwo", placeholder="Enter Item Here")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#makeListSubmit(class="makeListSubmit", href="#") Make List  
  section#lists
        div.lists
            h3.emptyList Lists are stored on the To Data page.    
  #ListMessage
    h3
      span#errorMessage
block scripts
        script(src="/assets/makeList.js")