extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/mainLobby") To Main
    .navlink
      a(href="/makeList") To App 
  section#lists 
    if !lists || lists.length == 0
        div.lists
            h3.emptyList No Data yet
    else
        each val in lists
            div.list
                a(href="/removeList/#{val._id}", class="deleteList") Delete List
                h3.ListName Name: #{val.name}
                h3.ListItemOne Item 1: #{val.itemOne}
                h3.ListItemTwo Item 2: #{val.itemTwo}
  #ListMessage
    h3
      span#errorMessage
block scripts
        script(src="/assets/makeList.js")