extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/logout") Log out
  section#makeList
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#toApp(class="makeListSubmit", href="/makeList") To App 
      a#toData(class="makeListSubmit", href="/mainData") To Data	  
  section#lists
        div.lists
            h3.emptyList Welcome to this app. Use the nav bar to move between the pages.
  #ListMessage
    h3
      span#errorMessage
block scripts
        script(src="/assets/makeList.js")